body {
    text-align: center;
font-size: 20px;
color:rgb(27, 27, 27);
font-family:cursive;
background-image: url(https://i.pinimg.com/originals/41/31/ce/4131ce04784e1a19989337a1a1cb6e33.png);
background-size: 100%;
background-position:top;
}
.q{
text-align: center;
margin:0% 2% 3% 2%;
border: 5px solid rgb(27, 27, 27);
border-radius: 14px;
background-color: white;
}
.cub{
font-size: 25;
color:tomato;
}
.whater{
font-size: 25;
color:turquoise;
}
h1{
 font-size: 29px;
}
